body {
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

nav {
    position: fixed;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 2em;
    margin: 0;
    padding: 0;
    margin-top: 1em;
    margin-right: 3em;
}

nav li {
    transition: 0.7s;
    position: relative;
    border-radius: 30px;
}

nav li:hover {
    transition: 0.7s;
    background-color: #26d100;
   
}

nav a {
    padding: 0.5em 2em 0.5em 2em;
    transition: 0.7s;
    font-size: large;
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    font-family: 'Courier New', Courier, monospace ;
}

.acceuil {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.acceuil div {
    /*border: #bf00e9 solid 2px;*/
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap:10vh;
}

.acceuil h1 {
    margin-top: 20vh;
    align-self: center;
}

h1{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 65px;
}

h2 {
    font-size: 30px;
    font-family: Verdana, Tahoma, sans-serif;
}

h3 {
    font-size: px;
    font-family: Verdana, Tahoma, sans-serif;
}

p {
    font-size: x-large;
}

.presentation {
    background-color: #e590ff;
}

.presentation div {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0em 10em 0em 10em;
    padding-bottom: 3em;
}

.presentation h1 {
    margin-top: 2em;
    margin-left: 2em;
}

.projets {
    background-color: #b7ffa7;
    padding: 0em 10em 0em 10em;

}

.projets h1 {
    margin-top: 0;
    padding-top: 2em;
    padding-left: 2em;
}

.projets h3 {

}

.projets p {
    
}

.projets hr {
    width: 100vh;
    height: 3px;
    background-color: black;
    border: 0;
}
.contact {
    height: 50vh;
    background-color: white;
}


